  /*========== fonts ================*/
  @mixin font_p($x){
    font-size: $x;
  }
  @mixin font_h1($x){
    font-size: $x;
  }
  @mixin font_h2($x){
    font-size: $x;
  }
  @mixin font_h3($x){
    font-size: $x;
  }
 @mixin font_h4($x){
    font-size: $x;
  }
  @mixin font_h5($x){
    font-size: $x;
  }
  @mixin font_li($x){
    font-size: $x;
  }
  